{
    "presets": [
     ["@babel/preset-env",
      {
        //* Indica a Babel que compile el codigo con la misma version instalada de Nodejs en el proyecto
       "targets": {
        "node": "current"
       }
      }
     ],
     //* Incluye y configura react-hot-loader Babel plugin cómo requerido para el módulo react-hot-loader
     "@babel/preset-react"
    ],
    "plugins": [
      "react-hot-loader/babel"
    ]
}